.jumbotron {
  background-image:url('https://scontent-lax3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1476679_10152434670087222_1025043079_n.jpg?oh=3acef97b4ad8eef1ca9cfd35b283f889&oe=56F6F909');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1 {
  color: blue;
}

.jumbotron p {
  color: blue;
}
