.jumbotron {
  background-image:url('https://scontent-lax3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10584019_637941579646882_6059395850278897716_n.jpg?oh=b81243ebaf1f68e3cd9f50162f7787bb&oe=56F2D9E0');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1 {
  color: blue;
}

.jumbotron p {
  color: blue;
}
