<div class="row">
  <div style="padding-top:40px;text-align:center;" class="col">
    <h3>Accolades: See what everyone is saying about me!</h3>

    <blockquote class="blockquote">
      <p class="mb-0">Person of the Year 2006</p>
      <footer class="blockquote-footer">Editorial team at <cite title="Time Magazine">Time Magazine</cite></footer>
    </blockquote>

    <blockquote class="blockquote">
      <p class="mb-0">Pretty chill person, but could definitely use a job.</p>
      <footer class="blockquote-footer">Roommate, <cite title="Time Magazine">Kaitlyn Anderson</cite></footer>
    </blockquote>

    <blockquote class="blockquote">
      <p class="mb-0">3rd Place Winner PanAmerican Windsurfing Championships</p>
      <footer class="blockquote-footer"><cite title="Time Magazine">US Windsurfing National Racing Tour</cite></footer>
    </blockquote>
  </div>
</div>
