<div class="row">
  <div style="padding-top:40px;text-align:center;" class="col">
    <h3>Accolades: See what everyone is saying about me!</h3>

    <blockquote class="blockquote">
      <p class="mb-0">Person of the Year 2006</p>
      <footer class="blockquote-footer">Editorial team at <cite title="Time Magazine">Time Magazine</cite></footer>
    </blockquote>

    <blockquote class="blockquote">
      <p class="mb-0">2nd Place Team Award</p>
      <footer class="blockquote-footer">Azure Government HackFest, <cite title="mcsft staff">Microsoft</cite></footer>
    </blockquote>

    <blockquote class="blockquote">
      <p class="mb-0">3rd Place Winner Pan-American Windsurfing Championships</p>
      <footer class="blockquote-footer"><cite title="Time Magazine">US Windsurfing National Racing Tour</cite></footer>
    </blockquote>
  </div>
</div>
