<div class="row" style="padding-top:25px;">
  <div class="col">
    <img class="headshot" src="http://vignette3.wikia.nocookie.net/mrrobot/images/5/50/Wiki-background/revision/20150906132244">
  </div>
  <div class="col">
    <h3>My name is Ryan and I'm here to serve.</h3>

    <p>I love clever math puzzles and working with unique problems. After being out in the world and doing a wide variety of different jobs, the time came for me to focus on a long term career. I learned how to code in Javascript and I'm currently voraciously expanding my repertoire every day. Picking up new paradigms and languages is what keeps me waking up every day and right now I am on the hunt for an organization that I can grow with and also contribute meaningfully as a member of a diverse team. In a world where the landscape is constantly shifting, I trudge forward with a relentless commitment to finishing the task at hand and a smile a mile wide.</p>
  </div>
</div>
