<%- include header.ejs %>
<div class="row" style="padding-top:25px;">
  <div class="col">
    <img class="headshot" src="/images/headshot.jpg" width="450" height="300">
  </div>
  <div class="col">
    <p>I'm still trying to figure out how to obscure my information from up and coming Nigerian princes, so for right now you may have to parse my info by hand.</p>

    <address>
      <strong>Ryan Greenberg</strong><br>
      3426 Adeline St.<br>
      Oakland, CA 94608<br>
      <abbr title="Phone">P:</abbr> (760) 223-111TWO
    </address>

    <address>
      <strong>e-mail</strong><br>
        <a href="mailto:#">hawk1138{at symbol}gmail.com</a>
    </address>

  </div>
</div>


<%- include footer.ejs %>
