<%- include header.ejs %>

<div style="margin-top:20px;">
  <h3>Nobody has asked me any questions yet :(</h3>
  <p>Ask one here:<a href="https://github.com/optomal7/website/issues/new"><button type="button" name="button">Ask a question!</button></a></p>
</div>


<%- include footer.ejs %>
