<div class="row">
  <div class="col">
    <h3>TEXT: The smoke signals of the future!</h3>
    <p>Part of what drives me forward is civic engagement. Knowing how to properly use programmable telephony is critical in this regard. This project is part of a series of expiraments working with the Twillio API. If you call the phone number <b>(206) 31-OATES</b> you'll be able to experiance <em>The Emergency Backup Hall and Oates Hotline!</em></p>

		<p>A second number exists too: <b>(415) 854-4586</b></p>

		<p>This number has been setup to respond to following commands via SMS/Text Message:</p>
		<ul>
			<li>add |string_that_represents_todo_list_item| - adds an item to a todo list </li>
			<li>list - creates a numbered list of items in todo list</li>
			<li>remove # - removes the number specified from the todo list</li>
			<li>roll # - provides a random number between 1 and # in a means thematically consistent with typical tabletop role-playing games.</li>
		</ul>
    <div class="button-row">
      <a href="https://obscure-dawn-14410.herokuapp.com/"><button type="button" class="btn btn-dark">Server: ¯\_(ツ)_/¯</button></a>

      <a href="https://github.com/optomal7/phone"><button type="button" class="btn btn-dark"><i class="fa fa-github-alt" aria-hidden="true"></i> Github</button></a>
    </div>
  </div>

</div>
