<div class="row">
  <div class="col">
    <h3>taskr: going from todo to to-done</h3>
    <p>This was the culmination of my work in my 3rd or 4th week of learning to code as a pair. I keep this on display mostly to remind myself how far I've come and to motivate me to keep pushing forward. The readme is quite lively at least!</p>
    <div class="button-row">
      <a href="https://nameless-hollows-78588.herokuapp.com/todo"><button type="button" class="btn btn-dark">Live website</button></a>

      <a href="https://github.com/Limelight-Management-Group/taskr"><button type="button" class="btn btn-dark"><i class="fa fa-github-alt" aria-hidden="true"></i> Github</button></a>
    </div>
  </div>

  <div class="col">
    <a href="/images/taskr.png"><img class="project" src="/images/taskr.png" alt="Project preview" width="350" height="250"></a>
  </div>
</div>
