<div class="row">
  <div class="jumbotron">
    <h1 class="display-3 power">Mighty Morphin Markdown!</h1>
    <p class="lead">We know millennials love the 90's, but they don't use markdown enough. This helps bridge the divide!</p>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <p>This is a standard markdown editor with a simple twist: it's Power Ranger themed. It works by saving to the file system on the machine it's running on, so I suggest checking out the <a href="https://github.com/optomal7/mighty-morphin-markdown/blob/master/README.md">readme</a> and running it locally before you go go making markdown. <strong>Caution: I built this with a partner over the course of a week. May contain bugs!</strong></p>
      </div>
      <div class="col">
        <a href="/images/mmmarkdown.png"><img src="/images/mmmarkdown.png" alt="Project preview" width="350" height="250"></a>
      </div>
    </div>


    <p class="lead">
			<a href="https://tranquil-island-38005.herokuapp.com/"><button type="button" class="btn btn-dark">Live website</button></a>
      <a href="https://github.com/optomal7/mighty-morphin-markdown"><button type="button" class="btn btn-dark"><i class="fa fa-github-alt" aria-hidden="true"></i> Github</button></a>
    </p>
  </div>
</div>
