<div class="row">
  <div class="col">
    <h3>Make it mine!</h3>
    <p>This was created as part of a challenge handed to me by a friend. Its a quick and dirty express server that tells you if a web domain is available, and if it isn't provides some viable substitutes.</p>

		<p>It's simple to use, all you gotta do is remeber to include your preferred top level domain in the request.</p>

    <div class="button-row">
      <a href="https://cryptic-bastion-52424.herokuapp.com/"><button type="button" class="btn btn-dark">Try me!</button></a>

      <a href="https://github.com/optomal7/make-it-mine"><button type="button" class="btn btn-dark"><i class="fa fa-github-alt" aria-hidden="true"></i> Github</button></a>
    </div>
  </div>

</div>
