<%- include header.ejs %>
<div class="col">
  <h3>Even though I work with technology...</h3>
  <p>I try to spend as little time using it as possible. If you really want to see my sparse contributions to social networks, here you go.</p>
</div>
<div class="col">
  <a href="https://www.youtube.com/channel/UCTYHHZHox_68Ryp4yo9TTeA" class="fa fa-youtube social"></a>
  <a href="https://www.linkedin.com/in/ryan-greenberg-99790992/" class="fa fa-linkedin social"></a>
  <a href="https://twitter.com/OneTruGreenberg" class="fa fa-twitter social"></a>
  <a href="https://github.com/optomal7" class="fa fa-github oops social"></a>
</div>
<%- include footer.ejs %>
