<div style="padding-top:20px;" class="row">
  <div class="col">
    <h2>Top Project: CRUD Mutably</h2>
    <p>This project was done over the course of a week and one of the first I've ever deployed. It's hooked up to a small API that keeps track of pokemon and is shared with multiple similar programs. The form will add pokemon to the list without refreshing the page. It will also add the proper photo of the pokemon programatically (as long as you spell them correctly). Ain't it cool?</p>
    <div class="button-row">
      <a href="https://hidden-wave-42934.herokuapp.com/"><button type="button" class="btn btn-dark">Live website</button></a>
      <a href="https://github.com/optomal7/mutably-starter"><button type="button" class="btn btn-dark"><i class="fa fa-github-alt" aria-hidden="true"></i> Github</button></a>
    </div>
  </div>

  <div class="col">
    <a href="/images/topproject.png">
      <img src="/images/topproject.png" alt="Project preview" width="350" height="250">
    </a>
  </div>
</div>
