<div class="row">
  <div class="col">
    <h3>Video Editing and Adventure</h3>
    <p>I am an outdoor enthusiast and amateur video editor. This music video was shot over the course of a week in my home town of the Kern River Valley in the summer of 2017!</p>
  </div>
  <div class="col">
    <iframe class="project" width="370" height="300" src="https://www.youtube.com/embed/CyJ7ZS7GLhk" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
