<div style="margin:30px;" class="row">
  <h3>This website</h3>
  <p>I'm actually quite proud of the look and feel of my portfolio website. I highly encourage you to checkout out the source code if you like. I designed it so it would look nice on both mobile or desktop and features some dynamic content. I am always ironing out the quirks and adding new projects to my showcase, so if you follow this repo directly you'll see my most finished projects. You can even fork it if you really want a copy, just don't use it to impersonate me.</p>
  <a href="https://github.com/optomal7/website"><button type="button" class="btn btn-dark"><i class="fa fa-github" aria-hidden="true"></i> Go full meta</button></a>
</div>
